<section class="hero">
  <div class="container">
    <div class="hero__content">
      <p class="hero__subtitle">Welcome</p>
      <h1 class="hero__title">Best Learning Opportunities</h1>
      <p class="hero__text">
        Every day brings with it a fresh set of learning possibilities.
      </p>
    </div>
    <div class="hero_buttons">
      <a class="hero__btn hero__btn--primary" href="#">BOOK SESSION</a>
      <a class="hero__btn" href="#">SEE MORE</a>
    </div>
    <img src="" alt="" />
  </div>
</section>
