<section class="numbers">
  <div class="container">
    <ul class="numbers__list">
      <li class="numbers__item">
        <h2 class="numbers__title">15K</h2>
        <p class="numbers__text">Happy Customers</p>
      </li>
      <li class="numbers__item">
        <h2 class="numbers__title">150K</h2>
        <p class="numbers__text">Monthly Visitors</p>
      </li>
      <li class="numbers__item">
        <h2 class="numbers__title">15</h2>
        <p class="numbers__text">Countries Worldwide</p>
      </li>
      <li class="numbers__item">
        <h2 class="numbers__title">100+</h2>
        <p class="numbers__text">Top Partners</p>
      </li>
    </ul>
  </div>
</section>
